/*============================================MAIN CONFIGURATION===========*/
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

main{
    max-width: 1024px;
    margin: 50px auto;
    min-height: calc(100vh - 310px);
}

/*==============================================================================================PAGE INDEX=========================================================================*/
/*===============================================HEADER MENU===============*/
header{
    background: #FF6738;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%; 
    overflow: hidden;
    height: 70px;
}

nav label{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 70px;
    margin-left: 50px;
}

nav ul{
    float: right;
    line-height: 70px;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 5px;
    transition: 0.1s;
}

a.active, a:hover{
    background: #bd340b;
    color: #FFFFFF;
}

#mobile-menu{
    display: none;
}

i{
    display: none;
    float: right;
    margin-right: 30px;
}

@media (max-width: 952px) {
    i{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0, 0.8);
        text-align: center;
        left: -100%;
        padding-top: 100px;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 30px;
    }
    #mobile-menu:checked ~ ul {
        left: 0;
        transition: .5s;
    }
}

/*====================================================PAGE INDEX====================*/

/*=====BANNER=====*/

.banner {
    background-color: #E5DBD1;
    width: 100%;
    height: 360px;
    margin-top: 0px;
}

.banner-content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.banner-content > h1 {
    color: #FF6738;
    font-size: 90px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 80px;
    margin-bottom: 0;
}

.banner-content > h3 {
    color: #2DB6A4;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 24px;
}

.banner-content > img {
    float: right;
    margin-top: -180px;
    width: 450px;
    height: auto;
}
/*=====LE FONDATEUR=====*/

#fondateur {
    margin-top: 55px;
    background-color: #FFBE54;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 40px;
    border-radius: 15px;
}

.fond-grid1 {
    grid-row: auto;
    font-size: 35px;
    color: white;
    padding: 20px;
    text-align: center;
}

.fond-grid2 {
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

/*=====LA VIE AU BUREAU=====*/

#viebureau {
    display: grid;
    grid-gap: 20px;
    margin-top: 55px;
    background-color: #2DB6A4;
    padding: 20px;
    border-radius: 15px;
}
#viebureau > h2 {
    color: white;
    font-size: 42px;
}

.vie-boite {
    background-color: white;
    color: #524642;
    padding: 20px;
    border-radius: 15px;
}

.vie-boite > h3 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.vie-boite > p {
    font-size: 18px;
    margin-top: 20px;

}
.vie-boite1 {
    grid-column: 1 / auto;
}
.vie-boite2 {
    grid-column: 2 / auto;
    
}
.vie-boite2 h2 {
    /*hides the text*/
    margin-top: -28px;
    text-indent: 100%;
    overflow: hidden;
}
.vie-boite2 > div {
    background-image: url(images/index/03_vieBureau1.png);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.vie-boite3 {
    grid-column: 3 / auto;
}
.vie-boite4 {
    grid-column: auto / auto;
}
.vie-boite4 > div {
    background-image: url(images/index/04_vieBureau2.png);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.vie-boite4 > h2 {
    /*hides the text*/
    margin-top: -28px;
    text-indent: 100%;
    overflow: hidden;
}
.vie-boite5 {
    grid-column: auto / auto;
}
.vie-boite6 {
    grid-column: auto / auto;
}
.vie-boite6 > div {
    background-image: url(images/index/05_vieBureau3.png);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.vie-boite6 > h2 {
    /*hides the text*/
    margin-top: -28px;
    text-indent: 100%;
    overflow: hidden;
}

/*=====SECTION NOUVELLES=====*/

#nouvelles {
    margin-top: 55px;
    margin-bottom: 55px;
    background-color: #19405E;
    padding: 20px;
    border-radius: 15px;
}

/*---titre---*/

#img-nouvelles {
    float: right;
}

#nouvelles > h2 {
    color: #C3E5E1;
    font-size: 55px;
    margin-left: 20px;
    margin-top: 55px;
}

#nouvelles-effix {
    color: #EB5949;
    font-size: 36px;
    margin-left: 20px;
    padding-left: 115px;
    margin-bottom: 55px;
}

/*---content---*/

.nouv-boite {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    color: #524642;
}

.nouv-boite > p {
    margin-top: 20px;
}

.nouv-boite > h3 {
    font-size: 36px;
    padding-top: 10px;
}

.date-nouvelle {
    color: #FF6738;
    font-size: 24px;
}

.newsimg{
    background-image: url(images/index/08_newspic.jpg);
    width: auto;
    height: 190px;
    background-position: center -190px;
    margin-top: -45px;
}

/*------*/

#nouvelles > div {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(250px, auto);
    grid-template-areas: 
    "header header"
    "longpost shortpost"
    "longpost shortpost"
    "shortpost2 longpost2"
    "shortpost2 longpost2"
    "longpost3 shortpost3"
    "longpost3 shortpost3"
    ;
}

.nouv-boite1 {
    grid-area: header;
}

.nouv-boite2 {
    grid-area: longpost;
}

.nouv-boite7 {
    grid-area: longpost2;
}
.nouv-boite8 {
    grid-area: longpost3;
}

/*==============================================================================================NOS SERVICES=========================================================================*/

#services-grid > a:hover {
    background: rgba(0, 0, 0, 0)
}
#services {
    margin-top: 55px;
}

#services-grid {
    margin-top: 55px;
    display: grid;
    grid-gap: 62px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.carre {
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.carre h4 {
    font-size: 24px;
    padding-top: 15px;
}

.carre > div {
    background-color: rgb(194, 194, 194);
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 100%;
}

.carre > p {
    font-size: 18px;
    margin-top: 12px;
}

.carre:hover {
    filter: opacity(80%);
    transition-timing-function: linear;
    transition: 0.3s
}

.carre:active {
    filter: brightness(80%);
    transition-timing-function: linear;
    transition: 0.05s
}

.carre1 {
    background-color: #2DB6A4;
}

.carre2 {
    background-color: #524642;
}

.carre3 {
    background-color: #FFBE54;
}

.carre4 {
    background-color: #E24A1B;
}

.carre5 {
    background-color: #19405E;
}

/*============================================================================================NOS REALISATIONS=======================================================================*/

.site:hover{
    text-decoration: underline;
    background: none;
}

.site:visited{
    text-decoration: none;
    color: #FF6738;
}

#realisations-h2{
    text-align: center;
    font-size: 60px;
}

#realisations-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#realisations-grid > article > a {
    color: #FF6738;
    margin-top: 60px;
}
#realisations-grid > article > a:hover {
    background: rgba(0, 0, 0, 0);
    color: rgb(180, 96, 0);
}
#realisations-grid > article > img {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*=============================================================================================NOUS CONTACTER========================================================================*/

#background-contact{
    background-image: url(images/nous_contacter/20_contact.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 30%;
}

#contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
    grid-gap: 30px;
    margin-top: 55px;
}

#nom {
    grid-column: 1/1;
}

#prenom {
    grid-column: 2/2;
}

#courriel {
    grid-column: 1/3;
}

#telephone {
    grid-column: 1/1;
}

#service {
    grid-column: 2/2;
}

#mandat {
    grid-column: 1/5;
    resize: none;
}

#submit {
    grid-column: 1/1;
    background-color: #FF6738;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition-timing-function: linear;
    transition: 0.3s;
}

#submit:hover {
    filter: opacity(75%);
    cursor: pointer;
    transition-timing-function: linear;
    transition: 0.3s;
}

#submit:active {
    filter: opacity(100%);
    transition-timing-function: linear;
    transition: 0.05s;
}

.input {
    background-color: #D4D4D4;
    border-radius: 5px;
    border: 0px solid;
    padding-left: 15px;
    font-size: 18px;
    min-height: 40px;
}
textarea {
    background-color: #D4D4D4 ;
    border-radius: 5px;
    border: 0px solid;
    padding: 15px;
    font-size: 18px;
}

input:focus, textarea:focus {
    outline: none;
}

/*====Selection service====*/

option {
    background-color: #D4D4D4;
    color:rgb(99, 99, 99)
}

#service, #service:focus {
    background-color: #D4D4D4;
    border-radius: 5px;
    border: 0px solid;
    padding-left: 15px;
    color: rgb(87, 87, 87);
    text-transform: uppercase;
    outline: none;
}
/* ==============================================HÉBERGEMENT======================= */

#heb-info{
    background: #D0EEF6;
    border-radius: 15px;
    padding: 30px;
    margin: 50px 0 50px 0;
}

#bleu-hopital{
    color: #2DB6A4;
    text-transform: uppercase;
}

.heb-boite{
    background: #2DB6A4;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 15px;
    min-height: 418px;
    padding: 15px 30px;
}

.heb-boite h3{
    margin-bottom: 10px;
    font-size: 24px;
}

/* =========================================DÉVELOPPEMENT WEB===================== */

#web-info{
    margin: 50px 0 50px 0;
}

#rouge-orange{
    color: #E24A1B;
    text-transform: uppercase;
}

.web-boite{
    background: #E24A1B;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 15px;
    min-height: 418px;
    padding: 15px 30px;
}

.web-boite h3{
    margin-bottom: 10px;
    font-size: 24px;
}

/* ====================================DÉVELOPPEMENT LOGICIEL======================== */

#logi-info{
    background: #BDCBD4;
    border-radius: 15px;
    margin: 50px 0 50px 0;
    padding: 15px;
}

#logi-info h2{
    font-size: 36px;
}

#img-portable{
    float: right;
    margin: 0 0 15px 15px;
}

/* =======================================GESTION DE PROJETS====================== */

#gestion-info{
    background: #F7F7F7;
    border-radius: 15px;
    padding: 30px;
    margin: 50px 0 50px 0;
}

#brown-title{
    color: #524642;
    text-transform: uppercase;
}

.gestion-boite{
    background: #524642;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 15px;
    min-height: 418px;
    padding: 15px 30px;
}

#plus-pop{
    background: #EB5949;
    color: #FFFFFF;
    padding: 10px;
    margin: 0 18px;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 0 12px 2px #ff4834;
}

.gestion-boite h3{
    margin-bottom: 10px;
    font-size: 24px;
}

/* ====================================IMPARTITON=========================== */

#impart-info{
    margin-top: 45px;
}

.item-impart{
    background: #19405E;
    margin: 40px 0;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
}

.item-impart h3{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

.item-impart p{
    margin-top: 25px;
    font-size: 14px;
}

/*===============================================FOOTER SECTION===============*/
footer {
    background-color: #E5DBD1;
    padding-top: 20px;
    margin-top: 30px;
    position: relative;
    padding-bottom: 1px;
}

#footer-grid {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#footer-grid > h2 {
    color: #FF6738;
    font-size: 40px;
    display: inline-block;
}
#footer-grid > img {
    float: right;
}

#droitsauteur {
    text-align: center;
    margin: 40px 0 5px 0;
    font-size: 12px;
}

/* ===============================UTILITIES=============================== */

.half{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
}

.caps-orange{
    text-transform: uppercase;
    color: #FF6738;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 15px;
}

.brown-text{
    color: #524642;
    font-size: 18px;
    margin-top: 25px;
}

.center{
    text-align: center;
}

.forfait-items{
    line-height: 30px;
    padding-left: 20px;
}

.text-justify {
    text-align: justify;
}

/* ============================================RESPONSIVE DESIGN===================================== */

@media (max-width: 952px) {
    main{
        margin: 50px 20px;
    }
    
    #services-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .carre6{
        display: none;
    }
    .carre > div{
        display: none;
    }
    #realisations-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #realisations-h2{
        font-size: 40px;
    }

    #img-portable{
        display: none;
    }

    img{
        width: 75%;
    }

    .quart{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 16px;
    }

    .half{
        grid-template-columns: 1fr;
    }

    footer{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }

    footer img{
        display: none;
    }

    #contact-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5fr 1fr ;
        grid-gap: 30px;
    }

    #nom {
        grid-column: 1/1;
    }
    #prenom {
        grid-column: 1/1;
    }
    #courriel {
        grid-column: 1/1;
    }

    #service {
        grid-column: 1/1;
    }
    #mandat {
        grid-column: 1/1;
        resize: none;
    }
    
    #submit {
        grid-column: 1/1;
    }

    #fondateur {
        grid-template-columns: 1fr;
    }
}